// Specific CSS for your home-page

body {
  background-color: white;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.text {
  width: 370px;
}

.text .infos {
  padding-top: 135px;
  text-align: left;
  margin-left: 65px;
}

.text #btn-text {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: yellow;
  margin: 5px;
}


.food-specialiste {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-image: url(https://images.unsplash.com/photo-1566373049939-704ea187ef98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  color: white;
  padding-top: 50px;
  height: 75vh;
}

.food-specialiste h3 {
  text-align: center;
}

.paragraphe-specialiste {
  position: relative;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 12px;
  width: 50vh;
  min-height: 300px;
  font-weight: 300;
  background-color: #004445;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 150px;
  margin-top: 30px;
}

.titre {
  text-align: center;
  color: #004445;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  position: absolute;
}
