.form-control {
  border: 1px solid #004445;
  width: 412px;
  height: 35px;
  border-radius: 5px;

}

#form-page-commander {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #004445;
  margin-top: 100px;
}

#container-du-forme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lebouton {
  border: none;
  background-image:
    url(plus.svg);
  background-position:
    center, /* this positions the first image */
    center; /* this positions the second image */
  background-repeat:
    no-repeat; /* this applies to both images */
}

#exampleInputTime1 {
  width: 100%;
  margin-left: -20px;
  space-between: none;
}

input.form-control::placeholder, select.form-control::placeholder {
  opacity: 0.5;
}

label {
  font-weight: 400;
}

#details {
  text-align: center;
  margin-top: -100px;
  color: white;
  font-size: 2rem;
}

#bouton-et-texte-payer {
  margin-top: 50px;
  margin-bottom: -50px;
}
