.global-index::before {
  content: "";
  background-color: #F8B400;
  clip-path: ellipse(51% 41% at 50% -2%);
  background-size: cover;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.filtre-et-recettes {
  display: flex;
  justify-content: space-between;
  z-index: 100;

}

.filtres {
  z-index: 100;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  border-radius: 10%;
  padding-bottom: 50px;
  padding-top: 20px;
  color: #004445;
}

.filtres h3 {
  font-size: 18px;
  font-weight: bold;
}

.filtres h4 {
  font-size: 15px;
}

.filtres p {
  font-size: 10px;
}


.searchbar {
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.champ {
  width: 650px;
  border-radius: 10px;
}

.bouton {
border-radius: 10px;
background-color: #F8B400;
margin-left: 8px;
}

.searchbar h2 {
  color: white;
}

.champ {
color: #F8B400;
}


input::-webkit-input-placeholder{
  color: #F8B400;
}

