#nameoftherecipe {
  text-align: center;
  margin: 40px;
}

#ingredientsheader {
  text-align: center;
  margin: 40px;
}

#bouton-et-texte-commander {
  margin: 100px;
}

#texte-commander {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -15px;
}
