.global-index-id::before {
  content: "";
  background-color: #F8B400;
  clip-path: ellipse(50% 38% at 50% -2%);
  background-size: cover;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


#name-of-the-recipe {
  z-index: 100;
  text-align: center;
  margin: 40px;
}

#font-size-of-recipe-name {
  font-size: 25px;
  font-weight: bold;
  z-index: 100;
  color: white;
}

#ingredients-header {
  text-align: center;
  margin: 40px 40px 40px 40px;
  font-weight: bold;
  font-size: 20px;
  color: #004445;
  z-index: 100;
}

#bouton-et-texte-commander {
  position: relative;
  margin: 0px 80px 80px 80px;
  z-index: 100;
}

#texte-commander {
  font-size: 15px;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
  color: #004445;
  z-index: 100;
}

#photo-dans-show {
  position: relative;
  max-width: 634px;
  max-height: 375px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  z-index: 90;
}

#name-of-the-recipe h1 {
  z-index: 100;
}

#description-of-the-recipe {
  max-width: 595px;
  font-size: 15px;
  color: #004445;
  z-index: 100;
}

#body-of-recipes-page {
  background-color: white;
  z-index: 100;
}

.container-ia {
  display: flex;
}

.recipe-item {
  flex: 1 1 0px;
}
