#name-of-the-recipe {
  text-align: center;
  margin: 40px;
  color: #004445;
}

#font-size-of-recipe-name {
  font-size: 25px;
  font-weight: bold;
}

#ingredients-header {
  text-align: center;
  margin: 100px 40px 40px 40px;
  font-weight: bold;
  font-size: 20px;
  color: #004445;
}

#bouton-et-texte-commander {
  margin: 100px 80px 80px 80px;
}

#texte-commander {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
  color: #004445;
}

#photo-dans-show {
  max-width: 634px;
  max-height: 375px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

#description-of-the-recipe {
  max-width: 595px;
  font-size: 15px;
  color: #004445;
}

#body-of-recipes-page {
  background-color: white;
}
