.global-index::before {
  content: "";
  background-color: #F8B400;
  clip-path: ellipse(51% 41% at 50% -2%);
  background-size: cover;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filtre-et-recettes {
  display: flex;
  justify-content: space-between;
  // margin: 0px 100px;
  margin-top: 150px;
  align-items: flex-start;
}

.filtres {
    min-width: 145px;
    min-height: 300px;
    z-index: 100;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    // height: 300px;
    // padding: 20px 100px;
    border-radius: 10%;
    // padding-bottom: 50px;
    padding-top: 20px;
    color: #004445;
    border-radius: 20px;
    margin-top: 100px;
    // padding-right: 150px;
}

.filtres h3 {
  font-size: 18px;
  font-weight: bold;
}

.filtres h4 {
  font-size: 15px;
}

.filtres p {
  font-size: 10px;
}

.searchbar {
  // display: flex;
  // z-index: 100;
  // justify-content: center;
  // width: 1100px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // margin-left: -20px;
  margin: 50px 0px;
  width: 947px;
}

.champ {
  // width: 650px;
  border-radius: 10px;

}

.bouton {
border-radius: 10px;
background-color: #F8B400;
margin-left: 8px;
}

.searchbar h2 {
  color: white;
}

.champ {
    outline: none;
    color: #F8B400;
    border: none;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    height: 50px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 0px 20px;

}


input::-webkit-input-placeholder{
  color: #F8B400;
}

body {
  background-color: white;
}

.nom-et-prix {
    max-width: 200px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-between;
}

.para-prix {
  font-size: 15px;
  margin-top: none;
  -webkit-box-align: end;
  margin-right: -68px;
  margin-left: 20px;
  align-items: right;
  color: #004445;
  margin-top: 20px;
}

#cardindex {
  padding-bottom:15px;
  width: 270px;
}

.recipe-name {
  font-size: 18px;
  color: #004445;
}

.container-index {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 1800px;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 5rem;
  }

#image-index {
  height: 200px;
  width: 270px;
  border-radius: 25px;
  object-fit: cover;
}

.nom-plats {
  font-size: 18px;
}

.nos-bocaux {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.navbar-and-cards {
  margin-left: 40px;
}


.recipe-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-index {
  height: 200px;
  width: 270px;
  border-radius: 25px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.image-index:hover {

}




.hidden-desc p {
color: white;
opacity: 0%;
margin-top: 16vh;
padding: 8px 32px;
backdrop-filter: blur(6px);
backdrop-filter: brightness(80%);
  transition: 1s;
  font-size: 4vh;
text-decoration: none;

}

.hidden-desc:hover p {
  text-decoration: none;
  opacity: 100%;


}
