.global-index-signup::before {
  content: "";
  background-color: #F8B400;
  clip-path: ellipse(51% 23% at 50% -2%);
  background-size: cover;
  width: 100%;
  height: 650px;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.sign-up-form {
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 30px 2px 40px;
}

#inscription {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #004445;
}

.form-inputs {
  color: #004445;
}

#se-connecter {
  color: #004445;
  text-decoration: none;
  margin: 25px 0px;
  font-size: 1rem;
}

.creation-compte {
  font-size: 20px;
  color: #004445;
  margin-top: 40px;
}
