#sinscrire {
  width: 200px;
  margin-top: 25px;
}

#mot-de-passe {
  width: 200px;
  margin-top: 25px;

}

#text-sign-in {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 100;
}

.div-sign-in {
  width: 1000px;
  margin: 0 auto;
}

.sign-in-form {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 30px 30px 40px;
}

#logintext {
  color: #004445;
  margin-bottom: 15px;
}

.form-check-label {
  font-size: 15px;
}

.form-check {
  opacity: 80%;
}

#bouton-et-texte {
  display: flex;
  flex-direction: row;
  width: 218px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 20px;
  color: #004445;
}

#texte-inscription {
  color: #004445;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.div-se-connecter {
  margin: 30px 0px 20px 0px;
}
