.sign-up-form {
  margin: 0 auto;
  width: 500px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 30px 2px 40px;
}

#inscription {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #004445;
}

.form-inputs {
  color: #004445;
}

#se-connecter {
  color: #004445;
  text-decoration: none;
  margin: 25px 0px;
  font-size: 1rem;
}

.creation-compte {
  font-size: 20px;
  color: #004445;
  margin-top: 40px;
}
