.color-text-center {
  text-align: center;
  color: #004445;
  margin-bottom: 3vh;
}

.profile-first {
  margin-top: 15vh;
}

.titre-centrer {
  color: #004445;
}

.card-trip-index2 {
  margin-top: 1vh;
}


