
<body>


<div class="global-index">
    <br>
    <br>
  <div class="container">

    <div class="nos-bocaux">
      <h2 class="nos-bocaux">Nos Bocaux</h2>
    </div>

    <br>
    <br>
    <br>
    <br>


<div class="container-index">

    <div class="filtre-et-recettes">

          <div class="filtres item col-sm-2">
            <h3 id="filtrer-par">Filtrer par</h3>
            <h4 id="filtrer-par">Troubles</h4>
            <p id="filtrer-par">Chimio</p>
          </div>

<div class="navbar-and-cards">

      <div class="searchbar">
        <form action="" class="searchbar" id="search-bar">
            <input class="champ" type="text" placeholder="Rechercher une recette"/>
        </form>
    </div>


   <div class="cards-recipes item">
    <% @recipes.each do |recipe| %>
      <div class="card-index">
        <%= link_to recipe_path(recipe)do %>
          <%= image_tag recipe.photo_url, id: "image-index"  %>
        <% end %>
        <div class="nom-et-prix">
          <h2 class="recipe-name"><%=recipe.name.capitalize%></h2>
          <p class="para-prix"><%= humanized_money_with_symbol(recipe.price) %></p>
        </div>
      </div>
    <% end %>
   </div>
</div>

 </div>

</div>
</div>

</body>
