
<body>


<div class="global-index">
    <br>
    <br>
  <div class="container">

    <div class="nos-bocaux">
      <h2 class="nos-bocaux">Nos Bocaux</h2>
    </div>

    <br>
    <br>
    <br>
    <br>


<div class="container-index">

    <div class="filtre-et-recettes">

          <div class="filtres item col-sm-2">
            <h3 id="filtrer-par">Filtrer par</h3>
            <div>
              <input type="radio" id="chimio" name="maladie" value="Chimiothérapie">
              <label for="chimio">Chimiothérapie</label>
            </div>
            <div>
              <input type="radio" id="digestion" name="maladie" value="Digestion">
              <label for="digestion">Digestion</label>
            </div>            <div>
              <input type="radio" id="deglutition" name="maladie" value="Déglutition">
              <label for="deglutition">Déglutition</label>
            </div>
          </div>

<div class="navbar-and-cards">

      <div class="searchbar">
        <form action="" class="searchbar" id="search-bar">
            <input class="champ" type="text" placeholder="Rechercher une recette"/>
        </form>
    </div>

   <div class="cards-recipes">

    <%= render 'cards', recipes: @recipes %>

   </div>
</div>

 </div>

</div>
</div>

</body>
