  <head>
    <title>Foodies | Recettes</title>
  </head>
<body>


<div class="global-index">
    <br>
    <br>
        <div class="nos-bocaux">
      <h2 class="nos-bocaux">Nos Recettes</h2>
    </div>

  <div class="container-index">


    <br>
    <br>
    <br>
    <br>


<div class="container-index">

    <div class="filtre-et-recettes">

          <div class="filtres item col-sm-2">
            <h3 id="filtrer-par">Filtrer par</h3>
            <div class="filters">
              <div>
                <input type="radio" id="Pas de filtre" name="maladie" value="Pas de filtre">
                <label for="Pas de filtre">Toutes</label>
              </div>
              <div>
                <input type="radio" id="chimio" name="maladie" value="Chimiothérapie">
                <label for="chimio">Chimiothérapie</label>
              </div>
              <div>
                <input type="radio" id="digestion" name="maladie" value="Digestion">
                <label for="digestion">Digestion</label>
              </div>
              <div>
                <input type="radio" id="déglutition" name="maladie" value="Déglutition">
                <label for="déglutition">Déglutition</label>
              </div>
            </div>
          </div>

<div class="navbar-and-cards">


      <div class="searchbar">
        <form action="/recipes" class="searchbar" id="search-bar" >
            <input class="champ" type="text" name="name" placeholder="Rechercher une recette"/>
            <button class=threshold><i class="fas fa-search"></i></button>
        </form>
    </div>

   <div class="cards-recipes">

    <%= render 'cards', recipes: @recipes %>

   </div>
</div>

 </div>

</div>
</div>

</body>
