 <a class="dropdown-toggle nav-item panier" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="" >Panier <span class="badge"> <%= @badge %></span></a>
             <div class="dropdown-menu dropdown-menu-right" id="panier" aria-labelledby="navbarDropdown">
