<h1>New order</h1>
<form action="/create" class="new-booking">
  <input type="text" name="street_name" placeholder="Nom de la voie">
  <input type="text" name="street_number" placeholder="Numéro de la voie">
  <input type="text" name="zip_code" placeholder="Code postal">
  <input type="text" name="city" placeholder="Ville">
  <input type="date" name="order_date" placeholder="Jour de la commande">
  <input type="text" name="order_hour" placeholder="Heure de la commande">
  <input type="submit" value="Commander">
  </form>
