  <head>
    <title>Foodies | Adaptez votre alimentation</title>
  </head>

<div class="global">
    <div class="container">
    <div class="dashboard">
        <div class="text">
            <div class=infos>
              <h3>Aller Mieux Autrement</h3>
              <p id="paragraphe-accueil">Adaptez votre alimentation en fonction de vos troubles.</p>

              <div id="bouton-et-texte-commander-accueil">
                <%= link_to recipes_path, id: "bouton-commander-page-accueil" do %>
                <%= image_tag "plus.svg", alt: "alttext", id: "plus-bouton-commander-page-accueil" %>
                <% end %>
                <h2 id="texte-commander-page-accueil"> DÉCOUVREZ NOS REPAS </h2>
              </div>

            </div>
        </div>

        <div class="card">
          <div class="card-text">
            <h5 id="title">Plat du jour</h5>
            <p id="infos">Poulet aux brocolis </p>
          </div>
          <div class="card-picture">
            <img src="https://assets.kraftfoods.com/recipe_images/181573-181574.jpg" alt="">
          </div>
          <div id="btn-card">
            <form action="recipes">
              <button type="submit" id="btn">Voir nos recettes</button>
             </form>
          </div>
        </div>
     </div>
  </div>
</div>
<div class="container">
    <h2 class="text-center mt-4">Comment ça marche ?</h2>


    <div class="card-infos">
      <div class="card-info">
          <p class=text-card-info>16 nouvelles recettes
          par semaine</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
            <div class="little-card-info">
              <p id="little-card-info">RECETTES</p>
            </div>
          </div>
      </div>

      <div class="card-info">
        <p class=text-card-info>Sélectionnez vos repas en fonction de votre trouble</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
            <div class="little-card-info">
              <p id="little-card-info">TROUBLES</p>
            </div>
          </div>
      </div>

      <div class="card-info">
        <p class=text-card-info>Commandez c'est livré !</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
          </div>
            <div class="little-card-info">
              <p id="little-card-info">LIVRAISON </p>
            </div>
      </div>
  </div>
  </div>

  <div class="fake-container">

  <h1 class="titre"> Le mot des experts </h1>


  <div class="food-specialiste rounded-pill">

    <div>
      <h3>Nos spécialistes</h3>
      <div class="paragraphe-specialiste">
        <p>« Il est nécessaire aujourd’hui d’adapter les repas des personnes hospitalisées en fonction de leur pathologie. Un patient sous chimiothérapie n’a pas les mêmes besoin nutritifs qu’une personne qui sort d’une grosse opération. »</p>
        <hr width="30%" color="white">
        <h4>Patrick Robert</h4>
        <h4>Gastro-entérologue</h4>
      </div>
    </div>

    <div>
      <h3>Nos chefs</h3>
      <div class="paragraphe-specialiste">
      <p>« Je suis ravie de pouvoir accompagner les médecins et les patients dans leur combat contre la maladie en leur proposant des repas bons et sains. Je suis persuadée que ça peut les aider à guérir, ou au moins à mieux vivre leur maladie. »</p>
      <hr width="30%" color="white">
      <h4>Nathalie Lafort</h4>
      <h4>Chef du restaurant Lala</h4>
      </div>
    </div>
  </div>
</div>




