<div class="container">
  <div class="dashboard">
      <div class="text">
          <div class=infos>
            <h3>Aller Mieux Autrement</h3>
            <p>Vos habitudes alimentaires changent avec vos maux... lorem ipsum lorem ipsum</p>
            <button id="btn-text">+</button> <span> voir nos bocaux</span>
          </div>
      </div>

      <div class="card">
        <div class="card-text">
          <h5 id="title">Plat du jour</h5>
          <p id="infos">Oeufs mollet sur toast </p>
        </div>
        <div class="card-picture">
          <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
        </div>
        <div id="btn-card">
          <button id="btn">Ajouter à mon planning</button>
        </div>
      </div>
   </div>
    <h2 class="text-center mt-4">Comment ça marche ?</h2>


    <div class="card-infos">
      <div class="card-info">
          <p class=text-card-info>Choisissez vos bocaux
            préférés, parmi 16 nouveaux chaque semaine</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
            <div class="little-card-info">
              <p id="little-card-info">BOCAUX</p>
            </div>
          </div>
      </div>

      <div class="card-info">
        <p class=text-card-info>Gérez votre planning repas à votre rythme</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
            <div class="little-card-info">
              <p id="little-card-info">PLANNING</p>
            </div>
          </div>
      </div>

      <div class="card-info">
        <p class=text-card-info>Faites-vous livrer à la maison ou en Click&Collect,
        partout en France!</p>
          <div class="card-info-picture">
            <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="">
          </div>
            <div class="little-card-info">
              <p id="little-card-info">LIVRAISON </p>
            </div>
      </div>
  </div>

  <h1 class="titre"> Le mot des experts </h1>

  <div class="food-specialiste rounded-pill">

    <div>
      <h3>Nos spécialistes</h3>
      <div class="paragraphe-specialiste">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta necessitatibus rerum non corporis, libero? Voluptatem quia doloremque, ea magnam perspiciatis blanditiis odit aliquid reiciendis sapiente, beatae, nihil tenetur delectus alias.</p>
        <hr width="30%" color="white">
        <h4>Patrick Robert</h4>
        <h4>Gastro-entérologue</h4>
      </div>
    </div>

    <div>
      <h3>Nos chefs</h3>
      <div class="paragraphe-specialiste">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias culpa repellendus possimus dolores nam hic beatae vel a labore, repellat maxime omnis veritatis necessitatibus tempore natus cumque, magnam est enim! tenetur delectus alias.</p>
        <hr width="30%" color="white">
        <h4>Nathalie Lafort</h4>
        <h4>Chef du restaurant Lala</h4>
      </div>
    </div>



  </div>






</div>


