.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-central {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

a
  {
  color: white;
  padding: 0px 5px;
}

img {
  border-radius: 100%;
  display: block;
  align-items: end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}



.logo {
  color: white
}

.logo span {
  color: yellow;
}

