.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

.menu-central {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

a
  {
  color: white;
  padding: 0px 5px;
}

.avatar-picture {
  border-radius: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.connexion {
  align-content: flex-end;
  display: block;
}


.logo {
  color: white
}

.logo span {
  color: yellow;
}

