.card {
  margin: 65px;
  height: 370px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
}

.card .card-text {
  font-family: Montserrat;
  color: #004445;
  padding-top: 15px;
  text-align: center;
  width: auto;
}

.card-text #title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 148.43%;
}

.card-text #infos {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 148.43%;
}

.card-picture > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  padding: 0px;
  object-fit: cover;
}

.card #btn-card {
  background: #004445;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 3px 4px;
}

.card #btn {
background: #004445;
border-radius: 70px;
color: white;
font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
border: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.card-trip h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

